<link rel="stylesheet" href="/css/style.css" />
{{!-- Solution 1: pure CSS3 --}}
<link rel="stylesheet" href="/css/fade-in.css" />

<div class="flex-container">
    <div><img src="/img/1.jpg" alt="" class="myImg"></div>
    <div><img src="/img/2.jpg" alt="" class="myImg"></div>
    <div><img src="/img/3.jpg" alt="" class="myImg"></div>
    <div><img src="/img/4.jpg" alt="" class="myImg"></div>
    <div><img src="/img/5.jpg" alt="" class="myImg"></div>
    <div><img src="/img/6.jpg" alt="" class="myImg"></div>
    <div><img src="/img/7.jpg" alt="" class="myImg"></div>
    <div><img src="/img/8.jpg" alt="" class="myImg"></div>
    <div><img src="/img/9.jpg" alt="" class="myImg"></div>
    <div><img src="/img/10.jpg" alt="" class="myImg"></div>
    <div><img src="/img/11.jpg" alt="" class="myImg"></div>
    <div><img src="/img/12.jpg" alt="" class="myImg"></div>
</div>

{{!-- Solution 2: CSS + JS --}}
{{!-- <script src="/js/fade-in.js"></script> --}}

